name: CI Workflow

# on: [push, pull_request]
on: [repository_dispatch, workflow_dispatch]

jobs:
  test_uv_python:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.14'

      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -qy \
            pkg-config \
            libdebuginfod-dev \
            libunwind-dev \
            liblz4-dev \
            gdb \
            npm

      - name: Upgrade pip and install Python dependencies
        run: |
          pip install --upgrade pip cython pkgconfig
          pip install -r requirements-test.txt
          pip install -e .

      - name: Build JavaScript
        run: make build-js

      - name: Set ptrace_scope
        run: echo 0 | sudo tee /proc/sys/kernel/yama/ptrace_scope

      - name: Run tests
        run: uv run pytest -vvv --log-cli-level=info tests